body {
  background-color: rgb(255, 255, 255);
}

header nav .navBar {
  margin-bottom: 50px;
}
header nav .col {
  display: flex;
  justify-content: center;
}
header nav a .logoKamadaWebPage {
  border-radius: 50px;
  width: 70px;
}

.portada {
  padding: 20px;
}
.portada .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portada .center .col-12 {
  text-align: center;
  padding: 20px;
}
.portada .center h1 {
  margin-bottom: 10px;
  font-size: 2em;
}
.portada .center p {
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  line-height: 1.6;
}
.portada .center .btn {
  margin-top: 20px;
}
.portada .center .img-principal {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 50px;
}

#merchTitleInicio {
  text-align: center;
  margin: 20px;
  padding: 12px;
}

.box-modelos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.box-modelos .tarjeta {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #cfcccc;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: transform 0.5s ease-in-out;
}
.box-modelos .tarjeta:hover {
  transform: translateY(-5px);
}
.box-modelos .tarjeta .img-modelos {
  max-width: 100%;
  height: 70%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.box-modelos .tarjeta h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.box-modelos .tarjeta p {
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
}
@media screen and (max-width: 767px) {
  .box-modelos {
    flex-direction: column;
    align-items: center;
  }
  .box-modelos .tarjeta {
    width: 80%;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
footer .col {
  flex: 1;
  text-align: center;
}
footer .col:first-child {
  text-align: left;
}
footer .col:last-child {
  text-align: right;
}
footer .col img {
  max-width: 100px;
  height: auto;
}
footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {
  margin: 0 10px;
  display: inline-block;
}
footer ul li a img {
  max-width: 30px;
  height: auto;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/* Pagina de Medias (o sea imagenes) */
.albums {
  display: flex;
  align-items: center;
  text-align: center;
}
.albums h2 {
  justify-content: center;
  display: flex;
  padding: 1.5rem 0 1.5rem 3rem;
}
.albums p {
  font-size: 1.1rem;
  margin: 0rem 1rem 3rem 1rem;
  padding: 1rem;
}
.albums iframe {
  width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .albums h2 {
    font-size: 1.5rem;
    padding-left: 0;
  }
}

.fotos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.fotos .row {
  justify-content: center;
}
.fotos h2 {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 1.5rem 3rem;
}
.fotos p {
  font-size: 1.1rem;
  margin: 2rem 1rem 3rem 1rem;
  padding: 1rem;
}
.fotos .tarjeta-videos {
  padding-right: 0;
}
.fotos .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotos img {
  width: 100%;
  height: 70%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@media (max-width: 768px) {
  .fotos h2 {
    font-size: 1.5rem;
    padding-left: 0; /* Elimina el padding izquierdo para centrar completamente */
  }
  .fotos img {
    height: 50vh;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}
@media (max-width: 480px) {
  .fotos h2 {
    font-size: 1.2rem;
    padding-left: 0; /* Elimina el padding izquierdo para centrar completamente */
  }
  .fotos img {
    height: 40vh;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}

/*# sourceMappingURL=styles.css.map */
