body {
  background-color: rgb(255, 255, 255);
}

header {
  nav {
    .navBar {
      margin-bottom: 50px;
    }

    .col {
      display: flex;
      justify-content: center;
    }

    a {
      .logoKamadaWebPage {
        border-radius: 50px;
        width: 70px;

      }
    }
  }
}

.portada {
  padding: 20px;


  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .col-12 {
      text-align: center;

      padding: 20px;

    }

    h1 {
      margin-bottom: 10px;
      font-size: 2em;

    }

    p {
      margin: 10px;
      padding: 10px;
      font-size: 1.2em;

      line-height: 1.6;

    }

    .btn {
      margin-top: 20px;

    }

    .img-principal {
      max-width: 100%;

      height: auto;

      margin-top: 20px;

      border-radius: 50px;
    }
  }
}

#merchTitleInicio {
  text-align: center;
  margin: 20px;
  padding: 12px;
}

.box-modelos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;



  .tarjeta {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #cfcccc;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    .img-modelos {
      max-width: 100%;
      height: 70%;
      border-radius: 15px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1em;
      line-height: 1.5;
      color: #333;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;

    .tarjeta {
      width: 80%;
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    flex: 1;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    img {
      max-width: 100px;
      height: auto;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 10px;
      display: inline-block;

      a {
        img {
          max-width: 30px;
          height: auto;
        }
      }
    }
  }
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* Pagina de Medias (o sea imagenes) */


.albums {
  display: flex;
  align-items: center;
  text-align: center;

  h2 {
    justify-content: center;
    display: flex;
    padding: 1.5rem 0 1.5rem 3rem;
  }

  p {
    font-size: 1.1rem;
    margin: 0rem 1rem 3rem 1rem;
    padding: 1rem;
  }

  iframe {
    width: 90%;
    max-height: 80vh;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
      padding-left: 0;
    }
  }
}

.fotos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;

  .row {
    justify-content: center;
  }

  h2 {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 3rem;
  }

  p {
    font-size: 1.1rem;
    margin: 2rem 1rem 3rem 1rem;
    padding: 1rem;
  }

  .tarjeta-videos {
    padding-right: 0;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  img {
    width: 100%;
    height: 70%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
      padding-left: 0;
    }

    img {
      height: 50vh;
      width: 70%;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 1.2rem;
      padding-left: 0;
      /* Elimina el padding izquierdo para centrar completamente */
    }

    img {
      height: 40vh;
      width: 70%;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/* Seccion de contactos */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18px;
}

.contact {
  justify-content: center;
}

/* ----------------------------------------------------------------------------------------------------- */
/* Seccion de merch */

.remeras {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;


  .tarjeta {
    font-size: 1rem;
    padding: 2.5rem;
    padding-bottom: 0rem;
  }

}


h1 {
  margin-top: 1rem;
}

img {
  border-radius: 20px;
  width: 100%;
  height: 60%;
  max-width: 50vh;
  margin-bottom: 12px;
}

@media (min-width: 320px) {
  .remeras .row:last-child {
    margin-bottom: 100px; 
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/* Seccion de integrantes */

.integrantes-img {
  display: flex;
  text-align: center;
  padding: 0rem 2rem 2rem;
  overflow: hidden;

  img {
      width: 100%;
      height: 100%;
      max-width: 362px;
  }

  p {
      font-size: 1.1rem;
      margin: 2rem 1rem 3rem 1rem;
      padding: 1rem;
  }

  h2 {
      padding: 1rem 0rem;
  }

  div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem;
  }

  .historia-box {
      background-color: rgb(167, 166, 166);
      border-radius: 10px;
  }
  
  .bandaCompleta {
    width: 120%;
  }

  @media (max-width: 767px) {
      article div {
          padding: 0;
          margin: 0;
      }

      img {
          padding: 1rem;
          margin: 0;
      }

      p {
          margin: 0;
          padding: 1rem;
      }
  }
}
