.portada {
  padding: 20px;


  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .col-12 {
      text-align: center;
      padding: 20px;

    }

    h1 {

      margin-bottom: 10px;
      font-size: 2em;

    }

    p {
      margin: 10px;
      padding: 10px;
      font-size: 1.2em;

      line-height: 1.6;

    }

    .btn {
      margin-top: 20px;

    }

    .img-principal {
      max-width: 100%;

      height: auto;

      margin-top: 20px;

      border-radius: 50px;
    }
  }
}

#merchTitleInicio {
  text-align: center;
  margin: 20px;
  padding: 12px;
}

.box-modelos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.tarjeta {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #cfcccc;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .img-modelos {
    max-width: 85%;
    height: 65%;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .merchomeTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .merchomeText {
    padding: 5px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #333;
  }

  
}



