
header {
    nav {
      .navBar {
        margin-bottom: 50px;
      }
  
      .col {
        display: flex;
        justify-content: center;
      }
  
      a {
        .logoKamadaWebPage {
          border-radius: 50px;
          width: 70px;
  
        }
      }
    }
  }