/* Globales */
* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 ;
}

li {
    list-style: none;
    margin: 20px;
 }

a {
    font-size: large;
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

footer {
    background-color: rgba(27, 27, 27, 0.966);
}

.boxLinksFooter {
    display: flex;
    flex-wrap: wrap;
}

.boxSocialMediaFooter {
    display: flex;
    flex-wrap: wrap;
}

.logoSocialMediaFooter {
    height: 50px;
    width: 50px;
}

/* ---------------------------------------------------------------------------------------------*/

/* Header globales*/

header {
    
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

nav {
    background-color: black;
}

.nav-link {
    color: white;
}

header div h1 {
    color: white;
}

header nav ul {
display: flex;
justify-content: flex-end;
margin: 0px;
}

header nav ul li {
    margin: 0px 20px;
}

.logoStyle {
    display: flex;
    justify-content: flex-start;
    width: 100px;
}

/* ---------------------------------------------------------------------------------------------*/

/* Home*/

#portada {
    background-color: antiquewhite;
    height: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

#portada h2 {
    text-align: center;
}

#portada p {
    padding: 30px;
    margin: 0px;
    font-size: larger;
    text-align: center;
    max-width: 900px;
}

div>h2 {
    display: flex;
    justify-content: center;

}

.homeText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonInfo {
    background-color: orange; 
    color: black;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    width: max-content;
}

.homeColumns {
    display: flex;
    justify-content: center;
}

#portada a:hover {
color: white;
}

#serviciosHome h2 {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.cardContainer {
display: flex;
justify-content: space-around;
}

.cardServicio {
    width: 400px;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cardServicio h3 {
    padding: 10px;
}

.cardServicio p {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100%;

}

.cardServicio-imagenProducto {
height: 140px;
margin: 15px;
}
/* ---------------------------------------------------------------------------------------------*/

/* servicios*/

.productoServicios {
    text-align: center;
}

.cardContainerServicios {
    display: flex;
    justify-content: space-around;
}

/* ---------------------------------------------------------------------------------------------*/

/* Nosotros */

.mainNosotros {
    
    display: grid;

    grid-template-areas: 
    "nosotrosTitle nosotrosTitle nosotrosTitle nosotrosTitle"
    "image nosotrosText nosotrosText nosotrosText "
    "image  nosotrosText nosotrosText  nosotrosText";
}


.mainNosotros>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 20px;
    height: 70px;
    align-content: center;
    grid-area: nosotrosTitle;
    text-align: center;
    background-color: rgb(215, 206, 216);
} 



.mainNosotros-imagen {
    grid-area: image;
    margin: 20px;
    width: 800px;
    height: 700px;
    border-radius: 20px;
}

.mainNosotros-texto  {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

/* ---------------------------------------------------------------------------------------------*/

/* FAQ */

#idFaq {
    margin: 100px 0px;
    padding: 10px;
}

.faqText {
    padding: 15px;
}

.faqText p {
    margin: 0px;
}

/* ---------------------------------------------------------------------------------------------*/
 
/* Contactos */

#contactoStyle {
    height: 100vh;
}

#contactoStyle h1 {
    font-size: xx-large;
    text-align: center;
    margin: 70px;
    padding: 10px;
}

.containerContacto {
    justify-content: center;
}

.contactoPadding {
    margin: 20px;
    padding: 15px;
}

.ubicacionLocalContacto {
   margin: 10px;
}

.contactoColorBoton {
    background-color: orange;
  
}

.btn-primary {
    background-color: orange;
}

.contactoColorBoton:hover {
    color: orange; 
    background-color: orange;
}

/* ---------------------------------------------------------------------------------------------*/



/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}